<div class="nav-container"style="display:flex; justify-content: space-around; border-bottom: 1px solid black; box-shadow: 1px grey" >
    
    <div class="menu">
        menu
    </div>
    <div class="title-card">
        Dinners'
    </div>
    <div class="cart">
        cart=0
    </div>
    <div class="user-profile">
        <%= render "users/login" %>
    </div>
</div>