<h1>Restaurant#index</h1>

<div class= "restaurant-index">
    <div class="restaurants">
      <ul>
      <% @restaurants.each do |res| %>
        <li><%= res.id %>.<%= link_to res.name, show_path(@restaurant, id:res.id) %></li>
      <% end %>
      </ul>
    </div>
</div>